.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.npmrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
astCounter/astCounter
astCounter/astCounter.exe
.claude/**
tmpclaude*
test.go
pnpm-lock.yaml
TODO.md
